{% extends 'base.html.twig' %}

{% block title %}Fruit{% endblock %}

{% block body %}
 <div class="container">
     <div class="card">
        <div class="card-header">
          <a class="btn btn-outline-info float-right" href="{{ path('app_fruit_index') }}">
            Back To Projects
          </a>
        </div>
     </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fruit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ fruit.name }}</td>
            </tr>
            <tr>
                <th>Family</th>
                <td>{{ fruit.family }}</td>
            </tr>
            <tr>
                <th>Genus</th>
                <td>{{ fruit.genus }}</td>
            </tr>
            <tr>
                <th>Fruit_order</th>
                <td>{{ fruit.fruitOrder }}</td>
            </tr>
            <tr>
                <th>Fruity_vice_id</th>
                <td>{{ fruit.fruityViceId }}</td>
            </tr>
        </tbody>
    </table>
   </div>

{% endblock %}
